run = "npm run dev"
entrypoint = "package.json"
hidden = [".config", ".next", "node_modules"]
modules = ["nodejs-22"]

[env]
PORT = "3001"

[nix]
channel = "stable-24_11"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 80
